*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 2rem;
}
nav{
    display: flex;
    justify-content: space-around;
}
.open{
    text-align: center;
    padding: 20px;
}
.text h1{
    padding: 10px;
    font-size: 3rem;
}
.text p {
    line-height: 2rem;
    font-size: 1.25rem;
}
.name{
    font-size:x-large;
}
.top-nav_bar{
    display: flex;
    flex-direction: row;
    font-size: medium;
}
.top-nav_bar h3{
    margin: 0;
    padding: 9px 20px;
}
img{
    height: 300px;
    width: 500px;
}
.text-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    margin: 50px;
}
.text h2{
    font-size: 1.5rem;
}
.texts p{
    font-size: medium;
    font-weight: 500;
    line-height: 2rem;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.quote{
    font-size: large;
}
a{
    text-decoration: none;
    cursor: pointer;
}
#update-button{
    text-align: center;
    font-size: xx-large;
}
.select-category{
    display: flex;
    flex-direction: column;
}
.row1, .row2{
    display: flex;
    justify-content: center;
}
.box {
    border: 2px solid rgb(73, 211, 9);
    padding: 3rem 5rem;
    background-color: rgb(29, 21, 193);
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
}
.box a {
    text-decoration: none;
    font-weight: bold;
}
  
.box:hover {
    background-color: #177cbf;
}
.quote-container{
    display: flex;
    justify-content: center;
}
.result{
    text-align: center;
    height: 200px;
    width: 500px;
    background-color: rgb(197, 154, 10);
    padding: 1rem;
}
.result:hover{
    background-color:#177cbf;
}
#quote-author, #quote-category{
    font-size: x-large;
}
.in{
    display: flex;
    justify-content: center;
    padding: 10px;
}
button, input{
    cursor: pointer;
    padding: 15px;
    background-color: rgb(199, 210, 199);
    margin: 10px;
}
h3{
    cursor: pointer;
}